@import "tailwindcss";

/* Exemple dans globals.css si vous n'utilisez pas la config Tailwind pour cela */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: "Geist Sans", sans-serif; /* Remplacez par le nom correct de la police */
  --font-geist-mono: "Geist Mono", monospace;   /* Remplacez par le nom correct de la police */
  /* Ensuite, si vous avez besoin de --font-sans et --font-mono : */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
